{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detallefacturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Fechadetalle</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Iddetallefactura</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalleFactura in detalleFacturas %}
            <tr>
                <td><a href="{{ path('detallefactura_show', { 'iddetallefactura': detalleFactura.iddetallefactura }) }}">{{ detalleFactura.fechaDetalle }}</a></td>
                <td>{{ detalleFactura.cantidad }}</td>
                <td>{{ detalleFactura.subtotal }}</td>
                <td>{{ detalleFactura.iddetallefactura }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detallefactura_show', { 'iddetallefactura': detalleFactura.iddetallefactura }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detallefactura_edit', { 'iddetallefactura': detalleFactura.iddetallefactura }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detallefactura_new') }}">Create a new detalleFactura</a>
        </li>
    </ul>
{% endblock %}
